langchain
langgraph
Flask==2.3.2
flask-cors==4.0.0
google-cloud-aiplatform
google-cloud-sql-connector
google-cloud-dlp
google-cloud-storage
langchain-google-genai
langchain-google-vertexai
sqlalchemy
pg8000
python-dotenv
vertexai
