Flask==2.3.2
flask-cors==4.0.0
google-cloud-aiplatform
cloud-sql-python-connector[pg8000]
google-cloud-dlp
google-cloud-storage
langchain
langchain-google-genai
langchain-google-vertexai
langgraph
sqlalchemy
pg8000
python-dotenv
vertexai
gunicorn==21.2.0